body {
    background-color: #E6F2FF
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p, ul>li {
    font-size: 20px;
    line-height: 31px;
}

.intro {
    float: left;
    width: 68%;
}

.archive {
    width: 28%;
    float: right;
}

